USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 10/07/2026 5:13:40 CH ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HospitalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HospitalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 10/07/2026 5:13:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[DoctorId] [int] NULL,
	[AppointmentDate] [date] NULL,
	[AppointmentTime] [time](7) NULL,
	[Status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 10/07/2026 5:13:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[SpecialtyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 10/07/2026 5:13:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[Prescription] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 10/07/2026 5:13:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Image] [nvarchar](300) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 10/07/2026 5:13:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[SpecialtyId] [int] IDENTITY(1,1) NOT NULL,
	[SpecialtyName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecialtyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/07/2026 5:13:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [date] NULL,
	[Address] [nvarchar](200) NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentId], [UserId], [DoctorId], [AppointmentDate], [AppointmentTime], [Status]) VALUES (1, 3, 45, CAST(N'2026-02-24' AS Date), CAST(N'10:30:00' AS Time), N'Completed')
INSERT [dbo].[Appointments] ([AppointmentId], [UserId], [DoctorId], [AppointmentDate], [AppointmentTime], [Status]) VALUES (2, 14, 43, CAST(N'2025-09-02' AS Date), CAST(N'08:45:00' AS Time), N'Completed')
INSERT [dbo].[Appointments] ([AppointmentId], [UserId], [DoctorId], [AppointmentDate], [AppointmentTime], [Status]) VALUES (3, 9, 29, CAST(N'2025-08-06' AS Date), CAST(N'14:00:00' AS Time), N'Completed')
GO
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorId], [DoctorName], [Phone], [Email], [SpecialtyId]) VALUES (1, N'Nguyễn Văn A', N'0988888888', N'doctor1@gmail.com', 1)
INSERT [dbo].[Doctors] ([DoctorId], [DoctorName], [Phone], [Email], [SpecialtyId]) VALUES (4, N'Dr.Test', N'8412345986', N'test1@gmail.com', 1)
INSERT [dbo].[Doctors] ([DoctorId], [DoctorName], [Phone], [Email], [SpecialtyId]) VALUES (5, N'ThS. BS. Lý Mai Yến', N'0398813194', N'bacsi1@cholibi.com', 11)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([RecordId], [AppointmentId], [Diagnosis], [Prescription], [Notes]) VALUES (1, 1, N'Rối loạn lo âu', NULL, N'Bệnh nhân tái khám sau 7 ngày hoặc khi có triệu chứng bất thường.')
INSERT [dbo].[MedicalRecords] ([RecordId], [AppointmentId], [Diagnosis], [Prescription], [Notes]) VALUES (2, 2, N'Suy nhược cơ thể', NULL, N'Bệnh nhân tái khám sau 7 ngày hoặc khi có triệu chứng bất thường.')
INSERT [dbo].[MedicalRecords] ([RecordId], [AppointmentId], [Diagnosis], [Prescription], [Notes]) VALUES (3, 3, NULL, N'Cinnarizine 25mg, Ginkgo Biloba, Nghỉ ngơi nhiều, Tránh thay đổi tư thế đột ngột.', N'Bệnh nhân tái khám sau 7 ngày hoặc khi có triệu chứng bất thường.')
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsId], [Title], [Image], [Content], [CreatedDate]) VALUES (1, N'BỆNH VIỆN ABD', N'AA', N'ABCBCBCBCBC', CAST(N'2026-06-05T12:30:00.000' AS DateTime))
INSERT [dbo].[News] ([NewsId], [Title], [Image], [Content], [CreatedDate]) VALUES (2, N'Dấu hiệu cảnh báo sớm đột quỵ và cách sơ cứu', N'news_placeholder_3.jpg', N'Đây là nội dung chi tiết của bài viết ''Dấu hiệu cảnh báo sớm đột quỵ và cách sơ cứu''. Nội dung này cung cấp các thông tin y tế hữu ích cho cộng đồng, giúp mọi người nâng cao nhận thức về việc bảo vệ sức khỏe và phòng tránh bệnh tật.', CAST(N'2026-06-03T00:00:00.000' AS DateTime))
INSERT [dbo].[News] ([NewsId], [Title], [Image], [Content], [CreatedDate]) VALUES (3, N'Những dấu hiệu cảnh báo bệnh tim mạch bạn không nên bỏ qua', N'news_placeholder_1.jpg', N'Đây là nội dung chi tiết của bài viết ''Những dấu hiệu cảnh báo bệnh tim mạch bạn không nên bỏ qua''. Nội dung này cung cấp các thông tin y tế hữu ích cho cộng đồng, giúp mọi người nâng cao nhận thức về việc bảo vệ sức khỏe và phòng tránh bệnh tật.', CAST(N'2025-12-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialties] ON 

INSERT [dbo].[Specialties] ([SpecialtyId], [SpecialtyName]) VALUES (1, N'Nội tổng quát')
INSERT [dbo].[Specialties] ([SpecialtyId], [SpecialtyName]) VALUES (2, N'Tim mạch')
INSERT [dbo].[Specialties] ([SpecialtyId], [SpecialtyName]) VALUES (3, N'Nhi khoa')
SET IDENTITY_INSERT [dbo].[Specialties] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Phone], [Gender], [BirthDate], [Address], [Role]) VALUES (1, N'Administrator', N'admin@gmail.com', N'123456', N'0123456789', N'Nam', CAST(N'2003-01-01' AS Date), N'Hà Nội', N'Admin')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Phone], [Gender], [BirthDate], [Address], [Role]) VALUES (2, N'nhc', N'abc@d.com', N'12345', N'0862897205', N'nữ', CAST(N'2005-04-12' AS Date), N'abcd', N'user')
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Password], [Phone], [Gender], [BirthDate], [Address], [Role]) VALUES (3, N'Quản Trị Viên', N'admin@cholibi.com', N'123456', N'0999999999', N'Male', CAST(N'1990-01-01' AS Date), N'Trụ sở chính', N'Admin')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534A6ECA540]    Script Date: 10/07/2026 5:13:41 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([DoctorId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([SpecialtyId])
REFERENCES [dbo].[Specialties] ([SpecialtyId])
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentId])
GO
USE [master]
GO
